.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.text-primary {
    color: #4E47FF;
}

.dark {
    color: #252432;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

/* header */
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    font-weight: black;
    font-size: 34px;
}

/* banner styles */
.banner-title {
    font-weight: bold;
    font-size: 65px;

}

.banner {
    text-align: center;
    margin-top: 158px;
}

.btn-2 {
    margin-top: 37px;
    margin-bottom: 152px;
}

/* action styles */
.action-title {
    font-weight: bold;
    font-size: 42px;
}

.action-description {
    font-weight: 400;
    font-size: 24px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 0 141px;
}

.action-image {
    border-radius: 48px;
}

/* productive-section */
.productive-section {
    background-color: #cccbe496;
    margin: 116px 159px 0 141px;
    border-radius: 24px;
}

.productive-section-title {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    margin: 50px 142px 0 142px;
    padding-top: 30px;
}

.blue-bold {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    justify-content: space-between;
}

.h4-description {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 2px
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 40px 142px 50px 142px;
}

/* Touch-Section */
.touch-parent {
    display: flex;
    max-width: 1140px;
    margin: 97px 150px;
    overflow: hidden;
    justify-content: space-between;

}

.touch-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.touch-section h1 {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    width: 497px;
    text-align: left;
}

.touch-child {
    flex: 2;
    padding: 40px;
    margin-left: 163px 150px 0 115px
}

.form-label {
    margin-bottom: 20px;
    max-width: 497px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background: #4E47FF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0d7451;
}

/* footer styles */
.logo-footer {
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 0;
}

.footer-li li {
    display: inline;
    list-style: none;
    margin-right: 48px;
}

.parent-footer {
    display: block;
    justify-items: center;
    max-width: 104px 455px;
}

.parent-footer li a {
    text-decoration: none;
    color: #252432;
}

.parent-footer p {
    margin: o auto;
}

.footer-li {
    padding: 5px;
}

/* Challenges Part */
.challange-section {
    text-align: center;
    max-width: auto;
    max-height: auto;
}

.challange-section h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-section {
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: left;
    background-color: rgba(192, 202, 207, 0.26);
}

.star-icon {
    margin-bottom: 10px;
}

.star-icon img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.card-section h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 15px;
}

.review-rate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-rate img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    margin:1px;
}

.date {
    font-size: 12px;
    margin: 0;
}
.flexible{
    display: flex;
    gap: 15px;
}
